[submodule "src/pkvm_setup/linux-pkvm"]
	path = src/pkvm_setup/linux-pkvm
	url = https://github.com/rems-project/linux
	branch = pkvm-core-6.4
	shallow = true
[submodule "src/pkvm_setup/linux-pkvm-verif"]
	path = src/pkvm_setup/linux-pkvm-verif
	url = https://github.com/rems-project/linux
	branch = pkvm-verif-6.4
	shallow = true
