[submodule "src/pkvm_setup/linux-pkvm"]
	path = src/pkvm_setup/linux-pkvm
	url = https://github.com/rems-project/linux
	branch = pkvm-core-6.4
	shallow = true
[submodule "src/pkvm_setup/linux-pkvm-verif"]
	path = src/pkvm_setup/linux-pkvm-verif
	url = https://github.com/rems-project/linux
	branch = pkvm-verif-6.4
	shallow = true
[submodule "components/autopilot/ardupilot"]
	path = components/autopilot/ardupilot
	url = https://github.com/ArduPilot/ardupilot.git
[submodule "components/message_bus/czmq"]
	path = components/message_bus/czmq
	url = https://github.com/zeromq/czmq.git
[submodule "src/pkvm_setup/vhost-device"]
	path = src/pkvm_setup/vhost-device
	url = git@github.com:GaloisInc/verse-vhost-device.git
[submodule "src/pkvm_setup/libgpiod"]
	path = src/pkvm_setup/libgpiod
	url = https://git.kernel.org/pub/scm/libs/libgpiod/libgpiod.git
[submodule "src/cerberus"]
	path = src/cerberus
	url = https://github.com/rems-project/cerberus.git
[submodule "src/pkvm_setup/qemu"]
	path = src/pkvm_setup/qemu
	url = git@github.com:GaloisInc/verse-debian-qemu.git
