[submodule "components/mission_protection_system/HARDENS"]
	path = components/mission_protection_system/HARDENS
	url = git@github.com:GaloisInc/HARDENS.git
[submodule "src/pkvm_setup/linux-pkvm"]
	path = src/pkvm_setup/linux-pkvm
	url = https://github.com/rems-project/linux
	branch = pkvm-core-6.4
	shallow = true
[submodule "src/pkvm_setup/linux-pkvm-verif"]
	path = src/pkvm_setup/linux-pkvm-verif
	url = https://github.com/rems-project/linux
	branch = pkvm-verif-6.4
	shallow = true
[submodule "components/autopilot/ardupilot"]
	path = components/autopilot/ardupilot
	url = git@github.com:ArduPilot/ardupilot.git
[submodule "components/message_bus/czmq"]
	path = components/message_bus/czmq
	url = git@github.com:zeromq/czmq.git
[submodule "src/pkvm_setup/vhost-device"]
	path = src/pkvm_setup/vhost-device
	url = git@github.com:GaloisInc/verse-vhost-device.git
[submodule "src/pkvm_setup/libgpiod"]
	path = src/pkvm_setup/libgpiod
	url = https://git.kernel.org/pub/scm/libs/libgpiod/libgpiod.git
