# Systemd unit file that runs `opensut_boot` and then shuts down the VM.  See
# `opensut-boot.service` for details.
[Unit]
Description=OpenSUT Boot Agent
Requires=opensut-boot.service
After=opensut-boot.service
